:root {
    --ini_distancia-vertical-comp: 7vw;
    --distancia-vertical-comp: 6vw;
    --ini_distancia-horizontal-comp: 41vh;
    --distancia-horizontal-comp: 22vh;

    --ini_distancia-vertical-comp-dos: 10vw;
    --distancia-vertical-comp-dos: 3.5vw;
    --ini_distancia-horizontal-comp-dos: 78vh;
    --distancia-horizontal-comp-dos: 28vh;
}


.header {
    /* Ancho del 100% del contenedor padre (la ventana) */
    width: 100%; 
    /* Altura de 100 píxeles (ajusta según tus necesidades) */
    height: 8vh; 
    background-color: #fff; /* Fondo blanco */
}


body {
    /* Cambia los colores del degrade */
    background: linear-gradient(to bottom, #240119, #840994); 
    /* Fija el fondo */
    background-attachment: fixed; 
    /* Ajusta el tamaño del fondo para cubrir toda la página */
    background-size: cover; 
    /* Evita que se repita el fondo */
    background-repeat: no-repeat; 
}


.staircase-container {
    position: relative;
    width: 100%;
    height: 100vh;
}


.skill-component {
    /* Establece el ancho del elemento al 10% del ancho de la ventana */
    width: 15vw;
    /* Establece la altura del elemento al 10% de la altura de la ventana */
    height: 10vh;
    /* Agrega un borde al elemento con un grosor y un color */
    border: 0.2vw solid #ff0000;
    /* Aplica un radio de borde para hacer que el elemento tenga una forma de círculo */
    border-radius: 42%;
    /* Centra el contenido del elemento horizontalmente */
    text-align: center;
    /* Establece la altura de la línea interna para centrar verticalmente el contenido */
    line-height: 10vh;
    /* Cambia el cursor al puntero cuando se pasa sobre el elemento (indicando que es interactivo) */
    cursor: pointer;    
    position: absolute;    
    /* Cambia el tipo de letra a "Arial" o a tu elección */
    font-family: "Consolas", sans-serif; 
    /* Cambia el tamaño de fuente a tu elección (ejemplo: 1.5rem) */    
    font-size: 1.4rem; 
    /* Evitar que el texto se desborde */
    overflow: hidden;
    word-wrap: break-word;
    /* Ajusta la alineación vertical de cada componente */
    align-self: flex-end;
        /* Aplicar negrita al texto */
        font-weight: bold;
}


/* Establece la posición de cada componente en la escalera */
.skill-component:nth-child(1) {
    left: var(--ini_distancia-horizontal-comp);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: var(--ini_distancia-vertical-comp);
}

.skill-component:nth-child(2) {
    left: calc(var(--ini_distancia-horizontal-comp) + var(--distancia-horizontal-comp));
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp) + var(--distancia-vertical-comp));
}

.skill-component:nth-child(3) {
    left: calc(var(--ini_distancia-horizontal-comp) + var(--distancia-horizontal-comp)*2);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp) + var(--distancia-vertical-comp) * 2);
}

.skill-component:nth-child(4) {
    left: calc(var(--ini_distancia-horizontal-comp) + var(--distancia-horizontal-comp)*3);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp) + var(--distancia-vertical-comp)*3);
}

.skill-component:nth-child(5) {
    left: calc(var(--ini_distancia-horizontal-comp) + var(--distancia-horizontal-comp)*4);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp) + var(--distancia-vertical-comp)*4);
}


.line-container {
    position: absolute;
    width: 100%;
    height: 100vh;
}


.skill-component-dos {
    /* Establece el ancho del elemento al 10% del ancho de la ventana */
    width: 13vw;
    /* Establece la altura del elemento al 10% de la altura de la ventana */
    height: 6vh;
    /* Agrega un borde al elemento con un grosor y un color */
    border: 0.2vw solid #ff0000;
    /* Aplica un radio de borde para hacer que el elemento tenga una forma de círculo */
    border-radius: 20%;
    /* Centra el contenido del elemento horizontalmente */
    text-align: center;
    /* Establece la altura de la línea interna para centrar verticalmente el contenido */
    line-height: 6vh;
    /* Cambia el cursor al puntero cuando se pasa sobre el elemento (indicando que es interactivo) */
    cursor: pointer;
    position: relative;    
    /* Cambia el color del texto dentro del elemento a blanco (#ffffff) */
    color: #000000;
    /* Cambia el tipo de letra a "Arial" o a tu elección */
    font-family: "Consolas", sans-serif; 
    /* Cambia el tamaño de fuente a tu elección (ejemplo: 1.5rem) */    
    font-size: 1.4rem; 
    /* Evitar que el texto se desborde */
    overflow: hidden;
    word-wrap: break-word;
    /* Ajusta la alineación vertical de cada componente */
    align-self: flex-end;
    /* Utiliza la imagen ubicada en la carpeta "static" como fondo */
    background-image: url('/static/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Aplicar negrita al texto */
    font-weight: bold;
}


.skill-component-dos:nth-child(1) {
    left: var(--ini_distancia-horizontal-comp-dos);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: var(--ini_distancia-vertical-comp-dos);
}
  

.skill-component-dos:nth-child(2) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos));
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos));
}
  

.skill-component-dos:nth-child(3) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*2);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*2);
}
  

.skill-component-dos:nth-child(4) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*3);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*3);
}
  

.skill-component-dos:nth-child(5) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*0.5);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*5);
}
  

.skill-component-dos:nth-child(6) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*(1.5));
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*6);
}
  

.skill-component-dos:nth-child(7) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*2.5);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*7);
}
  

.skill-component-dos:nth-child(8) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos));
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*9);
}
  

.skill-component-dos:nth-child(9) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*2);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*10);
}
  

.skill-component-dos:nth-child(10) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*3);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*11);
}
  

.skill-component-dos:nth-child(11) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*1.5);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*13);
}
  

.skill-component-dos:nth-child(12) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*2.5);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*14);
}
  

.skill-component-dos:nth-child(13) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*2);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*16);
}
  

.skill-component-dos:nth-child(14) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*3);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*17);
}
  

.skill-component-dos:nth-child(15) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*2.5);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*19);
}
  

.skill-component-dos:nth-child(16) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*3);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*21);
}
