body {
    background: linear-gradient(0deg, #840994, #240119, rgb(0, 0, 70) 13%, rgb(0, 0, 62) 28%, rgb(0, 0, 54) 43%, rgb(0, 0, 46) 58%, rgb(0, 0, 38) 73%, rgb(0, 0, 30) 88%);
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    width: 90vw; /* El body ocupará el 90% del ancho del navegador */
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
}

header {
    background-color: #c7dd00;
    font-weight: bold;
    border-radius: 2vh;
    padding: 1vh 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    transition: background-color 0.3s ease;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos del header */
    align-items: center; /* Alinear verticalmente los elementos del header */
    max-width: 80vw;
    margin: 0 auto; /* Centrar el contenedor del header */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5vw; /* Espacio entre los elementos de navegación */
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 4vh;
}

nav ul li a:hover {
    text-decoration: underline;
}

.texto_titulos {
    color: #ececec; /* Cambia el color del texto a rojo */
    font-size: 6vh;
    padding-top: 9vh; /* Ajusta este valor según la altura de tu header */
    position: relative; /* Necesario para que el ::before se posicione relativo al h1 */
}

.texto_titulos_line {
    content: ''; /* Esto genera un elemento vacío antes del h1 */
    top: -10px; /* Ajusta la posición vertical de la línea */
    left: 0; /* Alinea la línea al inicio del h1 */
    width: 100%; /* La línea se extiende a lo largo del h1 */
    height: 2px; /* Grosor de la línea */
    background-color: #ececec; /* Color de la línea */
}

.texto_subtitulos {
    color: #ececec; /* Cambia el color del texto a rojo */
    font-size: 5vh;
}

.profile-container {
    max-width: 70vw;
    margin: 0 auto;
    display: grid;
}

.profile-container p {
    padding: 2vh;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   /* Sombra para el contenedor */
}

#typing-text {
    font-size: 3.5vh;
    font-family: 'Courier New', Courier, monospace; /* Fuente monoespaciada para el efecto de digitación */
    white-space: pre-wrap;                          /* Mantener los saltos de línea */
    text-align: justify;                            /* Justificar el texto del parráfo */
    line-height: 1.3;                               /* Espacio interlineal */
    z-index: 1;
    position: relative;
    margin-top: -18vw;
}

.profile-container p:hover {
    background-color: rgba(0, 0, 0, 0.9);             /* Fondo blanco con transparencia */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.9);   /* Sombra para el contenedor */
    color: rgba(36, 194, 15, 0.9);
}

.link-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link-item a {
    text-decoration: none;
    color: inherit;
}

.link-item img {
    width: 7vw;
    height: 5vh;
    border-radius: 8px;       /* Bordes redondeados */
    margin-bottom: 0.3vh;     /* Espacio deseado entre cada div */
}

.flex-container {
    display: flex;;
    flex-wrap: wrap;  /* Permitir que los elementos se envuelvan */
    gap: 1vw;         /* Espacio entre columnas y filas */
}

.flex-container > div {
    padding: 1vw;                 /* Espacio interno */
    flex: 1 1 calc(40% - 1vw);    /* Cada div ocupa el 50% del contenedor, menos el espacio del gap */
    box-sizing: border-box;       /* Asegura que el padding y el border se incluyan en el ancho total */
}


.list {
    display: flex;;
    gap: 1vw;
    padding: 1vw;  
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.list {
    /* ... */

    /* Hide scrollbar in Firefox */
    scrollbar-width: none;

    /* Hide scrollbar in IE and Edge */
    -ms-overflow-style: none;
}

/* Hide scrollbar in webkit */
.list::-webkit-scrollbar {
    display: none;
}


.list-wrapper {
    max-width: 80vw;        /* Ancho máximo deseado */
    height: 50vh;           /* Altura del div al 40% de la altura del viewport */
    background-color: rgba(173, 216, 230, 0.2);         /* lightblue con 20% de opacidad */
    border: 1px solid #ccc;     /* Borde */
    padding: 1vw;           /* Espacio interno del contenido del div (ejemplo) */
    margin: 0 auto;         /* Centra el contenedor horizontalmente */
    overflow: hidden;       /* Oculta el contenido que se desborde */
    border-radius: 8px;     /* Bordes redondeados */
    margin-bottom: 1vh;     /* Ajusta el valor según el espacio deseado entre cada div */
}


.item {
    flex-shrink: 0;               /* Evita que el elemento se reduzca cuando el contenedor flex es más pequeño que el tamaño del elemento. */
    width: 40vh;                  /* Ancho del elemento en 50 unidades de altura de la ventana gráfica (viewport height). */
    height: 20vh;                 /* Altura del elemento en 25 unidades de altura de la ventana gráfica. */
    background-color: rgb(255, 255, 255, 0.4);     /* Color de fondo del elemento a blanco. */
    scroll-snap-align: center;    /* Alinea el elemento en el centro del contenedor cuando se hace scroll con scroll snapping. */
}

.item:hover {
    background-color: #f0f0f0;
}

.content, .content-edu {
    display: flex;
    align-items: center;     /* Alinear verticalmente al centro */
    justify-content: center; /* Alinear horizontalmente al centro */
    width: 100%;             /* Ajustar al ancho máximo del contenedor */
    height: 100%;            /* Ajustar al alto máximo del contenedor */
    overflow: hidden;        /* Ocultar el desbordamiento de la imagen */
    font-family: sans-serif;
    font-size: 64px;
    font-weight: bold;
}

.item .details {
    display: none;
}


.show {
    display: block;
}
.hide {
    display: none;
}

.item .content-edu, .item .details {
    cursor: pointer;
}
.item .content-edu.show, .item .details.show {
    display: flex;
}

.details li {
    text-align: left; /* Justificar el texto */
    line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
    font-size: 2.5vh; /* Tamaño de fuente adecuado */
    font-family: Arial, sans-serif; /* Fuente legible */
    font-weight: bold;
    color: #333; /* Color de texto */
    margin-left: 0.5vw;
    padding-top: 2vh; /* Ajusta este valor según la altura de tu header */

}


.content img, .content-edu img {
    max-width: 100%;     /* Ajustar imagen al ancho máximo del contenedor */
    max-height: 100%;    /* Ajustar imagen al alto máximo del contenedor */
    height: auto;        /* Mantener la proporción de la imagen */
    width: auto;         /* Mantener la proporción de la imagen */
    object-fit: cover;   /* Cubrir el contenedor manteniendo la relación de aspecto */
}

.zoomable-image {
    cursor: pointer;                   /* Cambia el cursor al hacer hover */
    transition: transform 0.3s ease;   /* Agrega una transición suave */
}

.zoomed {
    position: fixed;
    transform: scale(0.8); /* Aumenta el tamaño al hacer clic */
    top: 5vh; /* Posición fija desde la parte superior */
    left: 20vw; /* Posición fija desde la izquierda */
    z-index: 1000; /* Z-index alto para estar sobre otros elementos */
}

.button {
    display: flex;
    background-color: #98a803;            /* Color de fondo marrón */
    color: rgb(0, 0, 0);                         /* Color del texto */
    border: #ececec;                           
    padding: 1vw 2vw;                     /* Espaciado interno */
    cursor: pointer;                        /* Cambia el cursor al pasar el mouse */
    font-size: 16px;                        /* Tamaño de la fuente */
    border-radius: 1vw;                     /* Bordes redondeados */
    margin: 1vw;                          /* Espaciado entre los botones */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.button--previous {
    position: sticky;
    right: 1vw; /* Posicionar a la derecha */
    transform: translateY(-0.9vh); /* Ajusta este valor para mover el botón en el eje Y */
}

.button--next {
    position: sticky;
    left: 6.5vw; /* Posicionar a la izquierda */
    transform: translateY(-9.5vh); /* Ajusta este valor para mover el botón en el eje Y */
}

.button:hover {
    background-color: #c7dd00; /* Color de fondo al pasar el mouse */
}

/* Estilo para el mensaje para navegación horizontal en Smartphones*/
.rotate-message {
    display: none;  /* Oculto por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    color: white;  /* Texto blanco */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 10000;  /* Asegurarse de que esté por encima de otros elementos */
    font-size: 18px;
}


.footer-content {
    background-color: white;
    border-radius: 2vh;
    padding: 1vh 0;
    text-align: center; /* Centra el contenido del footer */
    color: black; /* Color del texto */
    display: flex; /* Usa flexbox para organizar los elementos */
    justify-content: space-around; /* Distribuye los elementos equitativamente con espacio alrededor */
}

.footer-content p {
    font-weight: bold; /* Texto en negrita */
    margin: 0; /* Elimina el margen por defecto de los párrafos */
    padding: 10px; /* Añade espaciado interno a los párrafos */
}

.footer-content a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: black; /* Color del texto para los enlaces */
}


/* Mostrar el mensaje en pantallas pequeñas en orientación vertical */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    .rotate-message {
        display: block;
    }
}






:root {
    --ini_distancia-vertical-comp: 3vw;
    --distancia-vertical-comp: 6vw;
    --ini_distancia-horizontal-comp: 23vh;
    --distancia-horizontal-comp: 22vh;

    --ini_distancia-vertical-comp-dos: -27vw;
    --distancia-vertical-comp-dos: 3.5vw;
    --ini_distancia-horizontal-comp-dos: 33vh;
    --distancia-horizontal-comp-dos: 28vh;
}


.skill-component {
    /* Establece el ancho del elemento al 10% del ancho de la ventana */
    width: 15vw;
    /* Establece la altura del elemento al 10% de la altura de la ventana */
    height: 10vh;
    /* Agrega un borde al elemento con un grosor y un color */
    border: 0.2vw solid #ffffff;
    /* Aplica un radio de borde para hacer que el elemento tenga una forma de círculo */
    border-radius: 42%;
    /* Centra el contenido del elemento horizontalmente */
    text-align: center;
    /* Establece la altura de la línea interna para centrar verticalmente el contenido */
    line-height: 10vh;
    /* Cambia el cursor al puntero cuando se pasa sobre el elemento (indicando que es interactivo) */
    position: absolute;    
    /* Cambia el tipo de letra a "Arial" o a tu elección */
    font-family: "Consolas", sans-serif; 
    /* Cambia el tamaño de fuente a tu elección (ejemplo: 1.5rem) */    
    font-size: 3.5vh; 
    /* Evitar que el texto se desborde */
    overflow: hidden;
    word-wrap: break-word;
    /* Ajusta la alineación vertical de cada componente */
    align-self: flex-end;
    /* Aplicar negrita al texto */
    font-weight: bold;
}


/* Establece la posición de cada componente en la escalera */
.skill-component:nth-child(1) {
    left: var(--ini_distancia-horizontal-comp);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: var(--ini_distancia-vertical-comp);
}

.skill-component:nth-child(2) {
    left: calc(var(--ini_distancia-horizontal-comp) + var(--distancia-horizontal-comp));
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp) + var(--distancia-vertical-comp));
}

.skill-component:nth-child(3) {
    left: calc(var(--ini_distancia-horizontal-comp) + var(--distancia-horizontal-comp)*2);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp) + var(--distancia-vertical-comp) * 2);
}

.skill-component:nth-child(4) {
    left: calc(var(--ini_distancia-horizontal-comp) + var(--distancia-horizontal-comp)*3);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp) + var(--distancia-vertical-comp)*3);
}

.skill-component:nth-child(5) {
    left: calc(var(--ini_distancia-horizontal-comp) + var(--distancia-horizontal-comp)*4);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: calc(var(--ini_distancia-vertical-comp) + var(--distancia-vertical-comp)*4);
}


.skill-component-dos {
    /* Establece el ancho del elemento al 10% del ancho de la ventana */
    width: 13vw;
    /* Establece la altura del elemento al 10% de la altura de la ventana */
    height: 6vh;
    /* Agrega un borde al elemento con un grosor y un color */
    border: 0.2vw solid #ffffff;
    /* Aplica un radio de borde para hacer que el elemento tenga una forma de círculo */
    border-radius: 20%;
    /* Centra el contenido del elemento horizontalmente */
    text-align: center;
    /* Establece la altura de la línea interna para centrar verticalmente el contenido */
    line-height: 6vh;
    /* Cambia el cursor al puntero cuando se pasa sobre el elemento (indicando que es interactivo) */
    position: relative;    
    /* Cambia el color del texto dentro del elemento a blanco (#ffffff) */
    color: #000000;
    /* Cambia el tipo de letra a "Arial" o a tu elección */
    font-family: "Consolas", sans-serif; 
    /* Cambia el tamaño de fuente a tu elección (ejemplo: 1.5rem) */    
    font-size: 3.5vh; 
    /* Evitar que el texto se desborde */
    overflow: hidden;
    word-wrap: break-word;
    /* Ajusta la alineación vertical de cada componente */
    align-self: flex-end;
    /* Utiliza la imagen ubicada en la carpeta "static" como fondo */
    background-image: url('/static/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Aplicar negrita al texto */
    font-weight: bold;
}


.skill-component-dos:nth-child(1) {
    left: var(--ini_distancia-horizontal-comp-dos);
    /* Variar el valor de la distancia vertical entre componentes */
    bottom: var(--ini_distancia-vertical-comp-dos);
}
  

.skill-component-dos:nth-child(2) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos));
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos));
}
  

.skill-component-dos:nth-child(3) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*2);
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*2);
}
  

.skill-component-dos:nth-child(4) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*3);
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*3);
}
  

.skill-component-dos:nth-child(5) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*0.5);
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*5);
}
  

.skill-component-dos:nth-child(6) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*(1.5));
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*6);
}
  

.skill-component-dos:nth-child(7) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*2.5);
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*7);
}
  

.skill-component-dos:nth-child(8) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos));
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*9);
}
  

.skill-component-dos:nth-child(9) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*2);
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*10);
}
  

.skill-component-dos:nth-child(10) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*3);
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*11);
}
  

.skill-component-dos:nth-child(11) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*1.5);
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*13);
}
  

.skill-component-dos:nth-child(12) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*2.5);
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*14);
}
  

.skill-component-dos:nth-child(13) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*2);
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*16);
}
  

.skill-component-dos:nth-child(14) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*3);
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*17);
}
  

.skill-component-dos:nth-child(15) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*2.5);
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*19);
}
  

.skill-component-dos:nth-child(16) {
    left: calc(var(--ini_distancia-horizontal-comp-dos)  + var(--distancia-horizontal-comp-dos)*3);
    bottom: calc(var(--ini_distancia-vertical-comp-dos) + var(--distancia-vertical-comp-dos)*21);
}
