.body {
    /* background: rgb(0,158,74);
    background: linear-gradient(0deg, rgb(0, 158, 74) 10%, rgb(1, 0, 70) 23%); */
    background: rgb(0,154,10);
    background: linear-gradient(0deg, rgba(0,154,10,1) 13%, rgba(0,89,30,1) 28%, rgba(0,99,66,1) 43%, rgba(0,78,89,1) 58%, rgba(0,48,89,1) 73%, rgba(0,0,89,1) 88%);
    background-repeat: no-repeat; /* Evita que se repita la imagen */
}

.texto_titulos {
    color: #ececec; /* Cambia el color del texto a rojo */
}
.texto_subtitulos {
    color: #ececec; /* Cambia el color del texto a rojo */
}

.list {
    display: flex;
    gap: 8px;
    padding: 16px;
  
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
  

.list {
    /* ... */

    /* Hide scrollbar in Firefox */
    scrollbar-width: none;

    /* Hide scrollbar in IE and Edge */
    -ms-overflow-style: none;
}

/* Hide scrollbar in webkit */
.list::-webkit-scrollbar {
    display: none;
}


.list-wrapper {
    max-width: 80vw; /* Ajusta este valor según el ancho máximo deseado */
    height: 50vh; /* Establece la altura del div al 40% de la altura del viewport */
    background-color: rgba(173, 216, 230, 0.2); /* lightblue con 50% de opacidad */
    padding: 20px; /* Espacio interno del contenido del div (ejemplo) */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    overflow: hidden; /* Oculta el contenido que se desborde */
    /* border: 2px solid #8B4513; Color marrón utilizando formato hexadecimal */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno dentro del borde */
    margin-bottom: 3vh; /* Ajusta el valor según el espacio deseado entre cada div */
}


.item {
    flex-shrink: 0;
    width: 50vh;
    height: 25vh;

    background-color: #FFF;

    scroll-snap-align: center;
}

.zoomable-image {
    cursor: pointer; /* Cambia el cursor al hacer hover */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

.zoomable-image:hover {
    position: fixed;
    transform: scale(0.8); /* Aumenta el tamaño al hacer hover */
    top: 5vh; /* Posiciona la parte superior del elemento en la mitad de la ventana */
    left: 20vw; /* Posiciona la izquierda del elemento en la mitad de la ventana */
    /* z-index: 1000; Asegura que esté por encima de otros elementos */
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    font-family: sans-serif;
    font-size: 64px;
    font-weight: bold;
}

.content {
    width: 100%; /* Ajustar al ancho máximo del contenedor */
    height: 100%; /* Ajustar al alto máximo del contenedor */
    display: flex;
    align-items: center; /* Alinear verticalmente al centro */
    justify-content: center; /* Alinear horizontalmente al centro */
    overflow: hidden; /* Ocultar el desbordamiento de la imagen */
}

.content img {
    max-width: 100%; /* Ajustar imagen al ancho máximo del contenedor */
    max-height: 100%; /* Ajustar imagen al alto máximo del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    width: auto; /* Mantener la proporción de la imagen */
    object-fit: cover; /* Cubrir el contenedor manteniendo la relación de aspecto */
}

.button {
    background-color: #8B4513; /* Color de fondo marrón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    font-size: 16px; /* Tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados */
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajustar la posición vertical */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    display: none;
}

.button--previous {
    left: 10px; /* Posicionar a la izquierda */
}

.button--next {
    right: 10px; /* Posicionar a la derecha */
}

.button:hover {
    background-color: #5a3310; /* Color de fondo al pasar el mouse */
}


